{% extends "nav.html" %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block title %} Contacts {% endblock %}
{% block page %}

    About
  {% endblock %}

{% block content %}
<div class="text-center">
    This project is part of the master thesis of Lucie Cuvelliez at Ecole Polytechnique de Bruxelles.<br>
The master thesis report is available <a href="static/2021_Info_CuvelliezDrowart.pdf">here</a> <br>

For more information, do not hesitate to <a href="{{ url_for('contacts') }}" >contact</a> us.

</div>
{% endblock %}
