{% extends "nav.html" %}
{% block navbar %}
{{ super() }}
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block title %} Minimal Air flow Rate {% endblock %}

{% block page %} Step 1: Calculating minimal airflow for dryer {% endblock %}

{% block content %}
<h3 style="text-align: center"> Once the minimal airflow for the dryer has been calculated, go to step 2 </h3>

<div id="parent">
    <div id="wide">
<form action="" method="get">
    <b>Climatic data : </b>

  <div class="row xl-3">
    <label class="col-xl "> Ambient relative humidity: (RH<sub>amb</sub>): </label>
    <div class="col-xl">
      <input type="number" step="0.1"  name="RHamb" min="0" max="100" required value="{{ context['RHamb'] }}"> %
    </div>
  </div>
    <div class="row xl-3">
    <label class="col-xl "> Ambient temperature: (T<sub>amb</sub>): </label>
    <div class="col-xl">
        <input type="number" step="0.1" min="-10"  max="120" name="Tamb_C" required value="{{ context['Tamb_C'] }}"> °C    </div>
  </div>

    <p></p>

    <b>Specifications : </b>

    <div class="row xl-3">
    <label class="col-xl "> Mass of product to dry: (M<sub>0</sub>): </label>
    <div class="col-xl">
        <input type="number" step="0.1" min="0" name="M0" required value="{{ context['M0'] }}"> kg   </div>
  </div>

    <div class="row xl-3">
    <label class="col-xl "> Initial moisture of products: (X<sub>0</sub>): </label>
    <div class="col-xl">
        <input type="number" min="0" step="0.1" name="X0" required value="{{ context['X0'] }}"> kg water/kg dry product   </div>
  </div>

    <div class="row xl-3">
    <label class="col-xl "> Final moisture of products: (X<sub>f</sub>): </label>
    <div class="col-xl">
        <input type="number" min="0" step="0.1" name="Xf" required value="{{ context['Xf'] }}"> kg water/kg dry product   </div>
  </div>

    <div class="row xl-3">
    <label class="col-xl "> Drying time: (t<sub>d</sub>): </label>
    <div class="col-xl">
        <input type="number" step="0.1" min="0" max="24" name="td" required value="{{ context['td'] }}"> h   </div>
  </div>

     <div class="row xl-3">
    <label class="col-xl "> Drying temperature: (T<sub>d</sub>): </label>
    <div class="col-xl">
        <input type="number" step="0.1" min="0" name="Td_C" max="150" required value="{{ context['Td_C'] }}"> °C   </div>
  </div>

    <input type="submit" class="btn btn-primary" value="Compute" name = "Compute">


</form>
    </div>
    <div id="narrow">
        <div class="info"> <b>Information</b> </div>

        The drying time (t<sub>d</sub>) and the drying temperature (T<sub>d</sub>) are depend on the type of product
        and the thickness of the slices. Their value highly influence the the dimensions of the dryer. Those values have to be coherent.
        In the case you are not sure about those values, check our <a href="{{ url_for('database') }}">database</a>

    </div>
</div>

    <div class="solution">
        {% set Q = context['Q'] %}
        {% if Q == null or Q == "" %}
        <b> Please fill all attributes.</b>

   {% elif Q > 0 %}
        <p class="success">
        Mass of water to evaporate is {{mass_to_evaporate}} kg. <br>
   Your air flow rate should be : <b> {{Q}} m<sup>3</sup>/h </b> <br></p>


        <a href="{{ url_for('dryerdimensions', X0 = context['X0'], RHamb=context['RHamb'], Tamb_C = context['Tamb_C'], M0=context['M0'],
        Xf = context['Xf'], td = context['td'], Td_C = context['Td_C'], Q = context['Q']) }}" class="btn btn-primary">Go to step 2</a>
        <p>To achieve this air flow, we strongly advice you to use <u>multiple</u> fans. <br>
        &#9888 &nbsp; A large fan in the middle of the entrance does not provide uniform ventilation. </p>

    <p></p>

        <i>RS Components</i> sells axial fans <a href="https://befr.rs-online.com/web/c/hvac-fans-thermal-management/air-conditioning-fans/axial-fans/" target="_blank"> here </a>
        <p></p>


        <div class="row">
            <div class="col-sm">
              <div class="center">
                  <figure>
                      <img src="./static/DC_fan.png" alt="Avatar woman" border="1px" style="width: 50%;">
                      <figcaption>DC Axial Fan, Sunon, 12 V dc from RS Components</figcaption>
                  </figure>

                </div>
          </div>

          <div class="col-sm">
                  <div class="left">
                      <a href="https://befr.rs-online.com/web/p/axial-fans/1118322/" target="_blank"> This </a> fan has an airflow of 20 m<sup>3</sup>/h and costs € 8.78 <br>
                      {% set nb_fans = Q/20 %}
                      {% set nb_fans = nb_fans|round(0)|int %}
                      {% set price = nb_fans * 8.78 %}
                      Using this fan, you would need {{ nb_fans  }} fans for a total cost of € {{ price|round(2) }}
                  </div>
          </div>

        </div>
        <p></p>



    {% endif %}
    </div>



    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <!-- <button type="button" class="btn-close" aria-label="close" data-dismiss="alert">&times;</button>-->
            {{ message }}
        </div>
        {% endfor %}
    </div>





<style>
.btn-primary {
     background-color: rgb(19,74,145);
     }
form {
    background-color:#D3D3D3;
    padding-left: 20px;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

input {
  width: 150px;

  }

.solution{
  padding-top: 10px;
  padding-left: 20px;
  }

.success{
 background-color:rgb(207,255,214) ;
 padding-left: 20px;
}

.info {
 padding-top: 20px;
 padding-bottom: 20px;
}

#parent {
  display: flex;
}
#narrow {
  width: 400px;
  background-color:#D3D3D3;
  padding-right: 20px;
}
#wide {

  flex: 1;
  /* Grow to rest of container */
  background: background-color:#D3D3D3;

}
</style>
{% endblock %}









