<!-- Section: Team v.4 -->
{% extends "nav.html" %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block title %} Contacts {% endblock %}
{% block page %}
    <style type="text/css">
    h3 { color: rgb(19,74,145);
         text-align: center; }
    </style>
    Contact
  {% endblock %}

{% block content %}

<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">
    <div class="container">
      <div class="row">
          <div class="col-sm">
        <img src="/static/Contacts/LCuvelliez.png"
             class="rounded-circle z-depth-5"
          alt="Lucie Cuvelliez">


      <h5 class="font-weight-bold mt-4 mb-3">Lucie Cuvelliez</h5>
      <p class="text-uppercase blue-text"><strong>Master student</strong></p>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut tincidunt tellus. Vivamus euismod pellentesque blandit. Donec rutrum dictum eros quis dictum.  </p>
</div>

    <!-- Grid column -->

    <!-- Grid column -->
        <div class="col-sm">
        <img src="/static/Contacts/BHaut.png" class="rounded-circle z-depth-1"
          alt="Benoit Haut">

      <h5 class="font-weight-bold mt-4 mb-3">Benoit Haut</h5>
      <p class="text-uppercase blue-text"><strong> XX </strong></p>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut tincidunt tellus. Vivamus euismod pellentesque blandit. Donec rutrum dictum eros quis dictum. </p>
    </div>

    <!-- Grid column -->

    <!-- Grid column -->

        <div class="col-sm">
        <img src=static/Contacts/CBoey.png class="rounded-circle z-depth-1"
          alt="Cedric Boey" style="box-sizing: content-box;">


      <h5 class="font-weight-bold mt-4 mb-3">Cedric Boey</h5>
      <p class="text-uppercase blue-text"><strong> XX </strong></p>
      <p class="grey-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut tincidunt tellus. Vivamus euismod pellentesque blandit. Donec rutrum dictum eros quis dictum. </p>
        </div>
          </div>
    </div>

</section>

<!-- Section: Team v.1 -->


<style>
    img {
        width: 250px;
        border-radius:  10px  ;
        border: 3px darkgreen ;
    }
</style>
{% endblock %}