<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Document</title>
  </head>
<h1>Contacts</h1>

 <div class="row">
    <div class="column">
        <img src="/static/Contacts/BHaut.png" alt="Benoit Haut"/>
        <p> Benoit Haut </p>
    </div>
    <div class="column">
        <img src="/static/Contacts/CBoey.png" alt="Cedric Boey"/>
        <p> Cedric Boey </p>
    </div>
    <div class="column">
        <img src="/static/Contacts/LCuvelliez.png" alt="Lucie Cuvelliez"/>
        <p> Lucie Cuvelliez </p>
    </div>
 </div>
</html>



 <style type='text/css'>


    body {
        background-color:white;
   }

    h1 {
        color: rgb(19,74,145);
        text-align: center;
    }

    .row {
        display: flex;
    }

    .column {
        flex: 33.33%;
        padding: 5px;
        text-align: center;
    }

    img {
        width: 100px;
        border-radius:  10px  ;
        border: 3px darkgreen ;
    }

</style>

